    * {
        margin: 0;
        padding: 0;
    }

    body {
        background: #ecf1f4;
        font-family: sans-serif;
    }

    .form-wrap {
        width: 320px;
        background: #3e3d3d;
        padding: 40px 20px;
        box-sizing: border-box;
        position: fixed;
        left: 50%;
        top: 50%;
        transform: translate(-50%, -50%);
    }

    h1 {
        text-align: center;
        color: #fff;
        font-weight: normal;
        margin-bottom: 20px;
    }

    input {
        width: 100%;
        background: none;
        border: 1px solid #fff;
        border-radius: 3px;
        padding: 6px 15px;
        box-sizing: border-box;
        margin-bottom: 20px;
        font-size: 16px;
        color: #fff;
    }

    input[type="button"] {
        background: #bac675;
        border: 0;
        cursor: pointer;
        color: #3e3d3d;
    }

    input[type="button"]:hover {
        background: #a4b15c;
        transition: .6s;
    }

    ::placeholder {
        color: #fff;
    }

    select {
        -moz-appearance: none;
        -webkit-appearance: none;
        appearance: none;
        min-width: min(100%, 240px);
        padding: 12px 24px 12px 12px;
        line-height: 24px;
        border: solid 1px #999;
        border-radius: 6px;
        /*   background-image: url(https://www.svgrepo.com/show/362528/caret-down-bold.svg); */
        background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='24' height='24' viewBox='180 -360 600 1200'%3E%3Cpath d='M1015 10q-10-10-23-10t-23 10L512 492 55 10Q45 0 32 0T9 10Q0 20 0 34t9 24l480 506q10 10 23 10t23-10l480-506q9-10 9-24t-9-24z'%20fill%3D%27slategray%27/%3E%3C/svg%3E");
        background-size: 18px;
        background-repeat: no-repeat;
        background-position: calc(100% - 12px) center;
        cursor: pointer;
        font-family: sans-serif;
        font-size: 16px;
        font-weight: normal;
        color: slategray;
        outline: none;
    }

    /* For IE10 */
    select::-ms-expand {
        display: none;
    }

    optgroup {
        font-weight: 400;
        font-style: italic;
        color: steelblue;
        background-color: aliceblue;
    }

    option {
        color: slategray;
        background-color: #fff;
        text-indent: 0;
    }