* {
    margin: 0;
    padding: 0;
}

body {
    min-height: 70vh;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}



.styled-table {
    border-collapse: collapse;
    margin: 25px 0;
    font-size: 0.9em;
    font-family: sans-serif;
    min-width: 400px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
}



.styled-table thead tr {
    background-color: #009879;
    color: #ffffff;
    text-align: left;
}



.styled-table th,
.styled-table td {
    padding: 12px 15px;
}

.styled-table tbody tr {
    border-bottom: 1px solid #dddddd;
}

.styled-table tbody tr:nth-of-type(even) {
    background-color: #f3f3f3;
}

.styled-table tbody tr:last-of-type {
    border-bottom: 2px solid #009879;
}

.styled-table tbody tr.active-row {
    font-weight: bold;
    color: #009879;
}




.buttons {

    display: inline-block;
    outline: 0;
    cursor: pointer;
    text-align: center;
    border: 0;
    padding: 7px 16px;
    min-height: 36px;
    min-width: 36px;
    color: #ffffff;
    background: #008060;
    border-radius: 4px;
    font-weight: 500;
    font-size: 14px;
    box-shadow: rgba(0, 0, 0, 0.05) 0px 1px 0px 0px, rgba(0, 0, 0, 0.2) 0px -1px 0px 0px inset;

    &:hover {
        background: #00503c;
    }

}

.table {
    width: 100%;
    display: flex;
    flex-direction: column;
}

th{
    text-align: center;
}

#container {
    display: flex;
    width: 80%;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}



.form-wrap {
    margin: 2rem 0;
    width: 30%;
    background: #3e3d3d;
    padding: 1rem 1rem;
    box-sizing: border-box;
    border-radius: 15px;

}

form{
    display: flex;
    flex-direction: column;
    width: 100%;
    text-align: left;
}

h1 {
    text-align: center;
    color: #fff;
    font-weight: normal;
    margin-bottom: 20px;
}

label{
    color: #fff;
    padding-left: 0.3rem;
    width: 100%;
    font-size: 16px;
    margin-bottom: 5px;
}

input {
    width: 100%;
    background: none;
    border: 1px solid #fff;
    border-radius: 3px;
    padding: 6px 15px;
    box-sizing: border-box;
    margin-bottom: 20px;
    font-size: 16px;
    color: #fff;
}

input[type="submit"] {
    background: #bac675;
    border: 0;
    cursor: pointer;
    color: #3e3d3d;
}

input[type="submit"]:hover {
    background: #a4b15c;
    transition: .6s;
}

::placeholder {
    color: #fff;
}

select {
    -moz-appearance: none;
    -webkit-appearance: none;
    appearance: none;
    width: 100%;
    padding: 6px 15px;
    line-height: 24px;
    border: 1px solid #fff;
    background-size: 18px;
    background-repeat: no-repeat;
    background-position: calc(100% - 12px) center;
    cursor: pointer;
    font-family: sans-serif;
    font-size: 16px;
    margin-bottom: 20px;
    font-weight: normal;
    color: #fff;
    background: none;
    outline: none;
}

/* For IE10 */
select::-ms-expand {
    display: none;
}

optgroup {
    font-weight: 400;
    font-style: italic;
    color: steelblue;
    background-color: aliceblue;
}

option {
    color: slategray;
    background-color: #fff;
    text-indent: 0;
}

::-webkit-calendar-picker-indicator {
    filter: invert(1);
}