* {
    margin: 0;
    padding: 0;

    font-family: 'Times New Roman', Times, serif;
}

body {
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

form {
    font-size: 1.5rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1rem;
    background-color: bisque;
    padding: 3rem;
    border-radius: 10px;
}



.row-container {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 1rem;

}

input,
select {
    font-size: 1.5rem;
    padding: 0.2rem;
    border-radius: 5px;
}

