*{
    margin: 0;
    padding: 0;
}
body{
    background-color: aqua;
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

#container{
    background-color: aquamarine;
    display: flex;
    flex-direction: column;
    width: 60%;
    height: 70%;
    align-items: center;
    justify-content: space-evenly;
}