* {
    margin: 0;
    padding: 0;
}

#container {
    width: 100vw;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

form {
    height: 30%;
    width: 40%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 1rem;

    border-radius: 35px;

    background-color: rgb(255, 199, 101);
}


#inputs{

    width: 80%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1rem;
}


.input_user{
    padding: 0.5rem;
    font-size: 1rem;
    width: 60%;
    border-radius: 5px;
    text-align: left;

}


.input_container{
    width: 90%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 1.5rem;
}

#submit{
    font-size: 1.3rem;
    padding: 0.4rem 1rem;
    border-radius: 10px;
}