.contenedor {
    display: flex;
    align-items: center;
    justify-content: center;

}

fieldset {
    border: 3px solid rgb(28, 0, 128);
    background-color: aqua;

}

legend {
    border: 2px solid black;
    background-color: white;
}

input {
    width: 100%;
    padding: 2px;
}

label {
    padding: 2px;
}

.formulario {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.campos {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.labels {
    width: 45%;
    display: flex;
    flex-direction: column;
}

.inputs {
    width: 45%;
    display: flex;
    flex-direction: column;
}

.buttons {
    padding-top: 10px;
    padding-bottom: 5px;
    display: flex;
}

.correcto {
    background-color: aquamarine;
}

.incorrecto {
    background-color: rgb(250, 103, 103);
}

#errores {
    background-color: rgb(255, 148, 49);
    text-align: center;
}