body{
    background-color: rgb(2, 24, 43);
}

form {
    display: flex;
    justify-content: center;
}

#contenedor {
    width: 300px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    row-gap: 10px;
    border: 1px solid black;
    padding: 15px;
    background-color: white;
    border-radius: 12px;
}

input {
    border-radius: 4px;
    border-color: gray;
    width: 100%;
    line-height: 2em;
}

#enviar {
    background-color: rgb(86, 5, 216);
    color: white;
}

.incorrecto{
    line-height: 2em;
    color: white;
    background-color: rgb(255, 36, 91);
    width: 100%;
    text-align: center;
    border-radius: 10px;
}

.correcto{
    line-height: 2em;
    color: white;
    background-color: rgb(39, 165, 0);
    width: 100%;
    text-align: center;
    border-radius: 10px;
}