/* @import "tailwindcss" */
* {
    margin: 0;
    padding: 0;
}

input {
    border: 1px solid black;
    font-size: 1.5rem;
    padding: 5px 10px; 
    border-radius: 10px;
}

.container {
    width: 100vw;
    height: 100vh;
    background-color: #e2c8e4;

    display: flex;
    align-items: center;
    justify-content: center;

}

.signin {
    padding: 2rem;
    background-color: #ffffff;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border-radius: 35px;
}


.input-container{
    display: flex;
    width: 100%;
    justify-content: space-between;
    gap: 1rem;
}

form {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 1rem;
}

label{
    font-size: 1.8rem;
}

.correct{
    background-color: aquamarine;
}

.incorrect{
    background-color: lightcoral;
}